{% extends 'main.html' %}

{% block login %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Логин</label>
            <input type="text" name="username" class="form-control" placeholder="Логин">
        </div>
        <div class="form-group">
            <label>Пароль</label>
            <input type="password" name="password" class="form-control" placeholder="Пароль">
        </div>
        <div class="form-group">
        {% if login_error %}
            <label class="text-danger">{{ login_error }}</label>
        {% endif %}
        </div>
        <button type="submit" class="btn btn-default">Войти</button>
        <a href="{% url 'register' %}">Регистрация</a>
    </form>
{% endblock %}