{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django</title>

    <!-- Bootstrap -->
    <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'static/js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'main' %}">Мой блог</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            {% if username %}
                <li><a href="{% url 'logout' %}">Выйти ({{ username }})</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% block article %}{% endblock %}
                {% block login %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>